<h1> Log into your account </h1>
<%= flash[:message] %>

<%= form_with model: @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %><br>
    <%= f.submit "Login"%>
<% end %>